{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié {{ parent() }}
{% endblock %}

{% block main %}

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
            {{ form(emailForm) }}
        </div>
    </div>
{% endblock %}
