{% extends 'base.html.twig' %}

{% block title %}Se connecter {{ parent() }}
{% endblock %}

{% block main %}
    <section id="ban-home">
        <div id="ban-content">
            <div class="row justify-content-md-center ">
                <div class="col-md-auto">
                        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous pour accéder aux sorties</h1>
                        {% for message in app.flashes('message') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('danger') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('warning') %}
                            <div class="alert alert-warning" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <input type="checkbox" id="remember_me" name="_remember_me" checked />
                            <label for="remember_me">Se souvenir de moi</label>
                            <div>
                                <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
                            </div>
                            <button class="btn btn-lg" type="submit" style="background-color: #e74c3c; color: #FFFFFF">
                                Se connecter
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
