{% extends 'base.html.twig' %}

{% block title %}Pas de profil{% endblock %}

{% block main %}
    <div>
        <h1 style="color: black">Décolé mais nous n'avons pas trouvé de profil correspondant...</h1>
    </div>
{% endblock %}
