{% extends 'base.html.twig' %}
{% if requestUser is defined%}
    {% set title_str = 'Profil de ' ~ requestUser.username %}
    {% set disabled = true %}
    {% set hidden = true %}
{% else %}
    {% set title_str = 'Mon profil' %}
    {% set disabled = false %}
    {% set hidden = false %}
{% endif %}

{% block title %}{{ title_str }} {{ parent() }} {% endblock %}

{% block main %}
<div class="row justify-content-md-center no-gutters back-container">
    <div class="col-md-auto">
        <div class="card mb-3" style="max-height: 530px;min-width: 45rem">
            <div class="row no-gutters">
                {% if app.user.urlPhoto %}
                    <div class="col-md-4">
                        <img src="{{asset('img/profil/' ~app.user.urlPhoto)}}" class="card-img-top">
                    </div>
                {% endif %}
                {% if app.user.urlPhoto %}
                    <div class="col-md-8">
                {% else %}
                    <div class="col">
                {% endif %}
                    <div class="card-body">
                        <div class="card-body">
                            {% if requestUser is defined %}
                                <h3 class="card-title">{{ requestUser.username }}
                                {% if requestUser.isAdministrateur%}
                                    <span class="badge badge-info">Administrateur</span>
                                {% endif %}
                                </h3>
                            {% else %}
                                <h3 class="card-title">Mon profil :</h3>
                            {% endif %}
                            {% form_theme profilForm 'bootstrap_4_horizontal_layout.html.twig' %}
                            {{ form_start(profilForm) }}
                            {{ form_row(profilForm.nom, {
                                label: 'Nom : ',
                                value : requestUser is defined ? requestUser.nom : app.user.nom,
                                attr:{'disabled': disabled }

                            }) }}
                            {{ form_row(profilForm.prenom, {
                                label: 'Prénom : ',
                                value : requestUser is defined ? requestUser.prenom : app.user.prenom,
                                attr:{'disabled': disabled }

                            }) }}
                            {{ form_row(profilForm.telephone, {
                                label: 'Téléphone : ',
                                value : requestUser is defined ? requestUser.telephone : app.user.telephone,
                                attr:{'disabled': disabled }

                            }) }}
                            {{ form_row(profilForm.email, {
                                label: 'Email : ',
                                value : requestUser is defined ? requestUser.email : app.user.email,
                                attr:{'disabled': disabled }

                            }) }}
                            {{ form_row(profilForm.username, {
                                label: 'Pseudo : ',
                                value : requestUser is defined ? requestUser.username : app.user.username,
                                attr:{'disabled': disabled }

                            }) }}
                            {{ form_row(profilForm.url_photo, {
                                label: 'Photo :',
                                label_attr:{'hidden' : hidden},
                                attr:{'disabled': disabled, 'hidden' : hidden }
                            }) }}
                            <div class="row justify-content-md-center">
                                <div class="col-md-auto">
                                    {% if requestUser is defined and requestUser.isAdministrateur == false%}
                                        <a href="{{ path('app_delete_user', {'id':requestUser.id }) }}" class="btn btn-danger">Supprimer</a>
                                        <button type="submit" class="btn btn-primary">Confirmer</button>
                                    {% elseif requestUser is not defined %}
                                        <button type="submit" class="btn btn-primary">Confirmer</button>
                                    {% endif %}
                                <input type="button" class="btn btn-secondary" value = "Retour"  onclick = "history.back()">
                                </div>
                            </div>
                            {{ form_end(profilForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}