{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe {{ parent() }}
{% endblock %}

{% block main %}

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="h3 mb-3 font-weight-normal">Entrez un nouveau mot de passe</h1>
            <form method="post">
                <label for="password">Mot de passe : </label>
                <input type="password" name="password" id="password">
                <input type="hidden", name="token", value="{{ token }}">
                <button class="btn btn-primary" type="submit">Valider</button>
            </form>
        </div>
    </div>
{% endblock %}
