{% extends 'base.html.twig' %}

{% block title %}Créer un compte {{ parent() }}
{% endblock %}

{% block main %}
    <div class="row justify-content-md-center no-gutters">
        <div class="col-md-auto">
            <div class="card" style="width: 34rem">
                <div class="card-body">
                    <h3 class="card-title">Enregistrer un utilisateur</h3>
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% form_theme registrationForm 'bootstrap_4_horizontal_layout.html.twig' %}
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email, {
                        label: 'Email'
                    }) }}
                    {{ form_row(registrationForm.nom, {
                        label: 'Nom'
                    }) }}
                    {{ form_row(registrationForm.prenom, {
                        label: 'Prénom'
                    }) }}
                    {{ form_row(registrationForm.username, {
                        label: 'Pseudo'
                    }) }}
                    {{ form_row(registrationForm.telephone, {
                        label: 'Tél.'
                    }) }}
                    {{ form_row(registrationForm.noCampus, {
                        label: 'Campus'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de Passe'
                    }) }}
                    <div id="checkbox" class="roles-checkboxes">
                        {{ form_row(registrationForm.roles) }}
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <button type="submit" class="btn btn-primary">Confirmer</button>
                            <input type="button" class="btn btn-secondary" value = "Retour"  onclick = "history.back()">
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
