body {
    min-height:100vh; /* 1 */
    display:flex; /* 2 */
    flex-direction:column; /* 3 */
}

main {
    flex-grow:1; /* 4 */
}

.btn-primary {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.badge-primary, .badge-info {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #a71d2a;
    border-color: #a71d2a;
}

a {
    color: #e74c3c;
}

a:hover {
    color: #a71d2a;
}

/* ----------------------- */
/* ----------------------- */
/* -------FOOTER---------- */
/* ----------------------- */
/* ----------------------- */
footer {
    text-align: center;
    background-color: #e74c3c;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    font-weight: bold;
    color: white;
}

footer p {
    margin: 1rem 0;
}

/* ----------------------- */
/* ----------------------- */
/* -------PAGE LOGIN------ */
/* ----------------------- */
/* ----------------------- */

#ban-home {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/assetsSite/ban-home.png) center center/cover;
    padding: 3rem 2rem;
    height:80vh;
}

#ban-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* ----------------------- */
/* ----------------------- */
/* -------HEADER--------- */
/* ----------------------- */
/* ----------------------- */
nav a {
    color: white;
}

nav a:hover {
    font-weight: bold;
    color: white;
}

/* ----------------------- */
/* ----------------------- */
/* ---Accueil Sorties----- */
/* ----------------------- */
/* ----------------------- */
#container-sorties {
    padding: 2rem 1rem;
}

/* ----------------------- */
/* ----------------------- */
/* -----AJOUT SORTIE------ */
/* ----------------------- */
/* ----------------------- */

#myBtn {
    background-color: #e74c3c;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 9rem;
    border-radius: 0.3rem;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ---Affichage Sortie---- */
/* ----------------------- */
/* ----------------------- */
#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.user-icon{
    margin-right: 5px;
}

.export-btn{
    background-color: #1c7430;
    border: none;
}

.export-icon{
    margin-right: 5px;
    size: 29px;
}

#exportModal{
    background-color: white;
    height: 20rem;
    width: 43rem;
    top: 20rem;
    left: 37rem;
    color: black;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#exportModal h3{
    margin-bottom: 50px;
}

#exportModal input{
    margin-bottom: 50px;
}

.modal-title{
    color: black;
    padding: 10px;
}

.modal-buttons{
    display: flex;
}

.modal-buttons button{
    margin: 5px;
}

.card{
    margin-top: 2.5rem;
}

