{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block main %}
    <div>
        <script defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi1d2yMcumgiYQsCdDo4X59ME3OU0QmJg&callback=initMap"
                async></script>
        <script>
            const LONGITUDE = {{ longitude }};
            const LATITIDE = "{{ latitude }}";
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script src="{{ asset('js/map.js') }}"></script>
        <script src="{{ asset('js/index.js') }}"></script>

        <div class="row justify-content-md-center no-gutters">
            <div class="mt-3 mb-3 col-md-auto" style="width: 93rem">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    {{ sortieNom }}
                                </div>
                                <div class="col-4">
                                    {% if etatLib == 'Créée' %}
                                        <span class="badge badge-primary" style="width: 100%">Créée</span>
                                    {% elseif etatLib == 'Ouverte' %}
                                        <span class="badge badge-primary" style="width: 100%">Ouverte</span>
                                    {% elseif etatLib == 'Clôturée' %}
                                        <span class="badge badge-primary" style="width: 100%">Clôturée</span>
                                    {% elseif etatLib == 'Activé en cours' %}
                                        <span class="badge badge-success" style="width: 100%">Activé en cours</span>
                                    {% elseif etatLib == 'Passée' %}
                                        <span class="badge badge-primary" style="width: 100%">Passée</span>
                                    {% elseif etatLib == 'Annulée' %}
                                        <span class="badge badge-danger" style="width: 100%">Annulée</span>
                                    {% endif %}
                                </div>
                            </div>
                        </h2>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-8">
                                    <div id="map"></div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        {% if sortieUrlPhoto is not null %}
                                            <img src="{{ asset('img/sorties/' ~sortieUrlPhoto) }}" class="card-img-top">
                                        {% endif %}
                                        <div class="col">
                                            <div>
                                                <span class="label label-primary">Nom de la sortie</span><br>
                                                <input type="text" class="form-control" id="sortieNom"
                                                       value="{{ sortieNom }}" readonly disabled="disabled">
                                            </div>
                                            <div>
                                                <span class="label label-primary">Date de fin</span><br>
                                                <input type="text" class="form-control" id="datefin" readonly
                                                       disabled="disabled" value="{{ sortieDateFin }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Durée</span><br>
                                                <input type="text" class="form-control" id="sortieDuree" readonly
                                                       disabled="disabled" value="{{ sortieDuree }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Ville organisatrice</span><br>
                                                <input type="text" class="form-control" id="desc" readonly
                                                       disabled="disabled" value="{{ siteNom }}"/>
                                            </div>

                                            <div>
                                                <span class="label label-primary">Latitude</span><br>
                                                <input type="text" class="form-control" id="latitude" readonly
                                                       disabled="disabled" value="{{ latitude }}"/>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                <span class="label label-primary">Date de début</span><br>
                                                <input type="text" class="form-control" id="sortieDateDebut" readonly
                                                       disabled="disabled" value="{{ sortieDateDebut }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Inscriptions maximum</span><br>
                                                <input type="text" class="form-control" id="sortieNbPlace" readonly
                                                       disabled="disabled" value="{{ sortieNbPlace }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Lieu</span><br>
                                                <input type="text" class="form-control" id="desc" readonly
                                                       disabled="disabled" value="{{ lieuNom }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Code postal</span><br>
                                                <input type="text" class="form-control" id="desc" readonly
                                                       disabled="disabled" value="{{ villeCp }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Longitude</span><br>
                                                <input type="text" class="form-control" id="longtitude" readonly
                                                       disabled="disabled" value="{{ longitude }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                <span class="label label-primary">Rue</span><br>
                                                <input type="text" class="form-control" id="desc" readonly
                                                       disabled="disabled" value="{{ lieuRue }}"/>
                                            </div>
                                            <div>
                                                <span class="label label-primary">Description et infos</span><br>
                                                <textarea class="form-control" id="desc" readonly disabled="disabled"
                                                          rows="4" cols="50">{{ sortieDescription }}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CHANGEMENT ETAT SORTIE -->
                                    {% if organisateur == app.user.id %}
                                        <div class="mt-3 row justify-content-md-center no-gutters">
                                            <div class="col-md-auto">
                                                {% if etatLib == 'Créée' %}
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Ouverte" }) }}"
                                                       class="btn btn-primary">Ouvrir aux inscriptions</a>
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Annulée" }) }}"
                                                       class="btn btn-danger">Annulée</a>
                                                {% elseif etatLib == 'Ouverte' %}
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Clôturée" }) }}"
                                                       class="btn btn-primary">Clôturer les inscriptions</a>
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Annulée" }) }}"
                                                       class="btn btn-danger">Annulée</a>
                                                {% elseif etatLib == 'Clôturée' %}
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Activé en cours" }) }}"
                                                       class="btn btn-primary">Sortie en cours</a>
                                                {% elseif etatLib == 'Activé en cours' %}
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Passée" }) }}"
                                                       class="btn btn-primary">Sortie finie</a>
                                                {% elseif etatLib == 'Passée' %}
                                                    <a href="{{ path('update_etat_sortie',{'idSortie': sortieNo ,'libEtat': "Annulée" }) }}"
                                                       class="btn btn-danger">Annuler</a>
                                                {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <li class="mt-3 list-group-item">
                                        <table id="table2" class="table">
                                            <thead>
                                            <tr>
                                                <th>Pseudo</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>Profile</th>
                                            </tr>
                                            </thead>
                                            {% for u in userList %}
                                                <tr>
                                                    <td>{{ u.username }}</td>
                                                    <td>{{ u.nom }}</td>
                                                    <td>{{ u.prenom }}</td>
                                                    <td style="text-align: center;"><a href="../user/{{ u.id }}"><i
                                                                    class="fas fa-id-card-alt fa-lg"></i></a>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <input type="button" class="btn btn-secondary" value="Retour" onclick="history.back()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block title %}Afficher sortie | {{ parent() }}{% endblock %}

    {% block scripts %}
        <script src="{{ asset("bootstrap/js/bootstrap.min.js") }}"></script>
        <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

        <script>
            $(document).ready(function () {
                $("#table").dataTable({
                    "oLanguage": {
                        "sEmptyTable": "Aucun participant",
                        "sLengthMenu": "<span class=\"label label-default\">Liste des utilisateurs participants</span>",
                        "sInfo": "",
                        "sInfoFiltered": " <span class=\"label label-default\">Sorties filtrées sur un total de _MAX_ utilisateurs</span>",
                        "sSearch": "<span class=\"label label-default\">Rechercher :</span> ",
                        "sZeroRecords": "Aucune sortie ",
                        "oPaginate": {
                            "sNext": "<span class=\"label label-default\">Suivant</span>",
                            "sPrevious": "<span class=\"label label-default\">Précédent</span>"
                        }
                    },
                });
            });
        </script>
    {% endblock %}

