{% extends 'base.html.twig' %}

{% block title %}Organiser une sortie {{ parent() }}
{% endblock %}

{% block main %}
<div class="row justify-content-center no-gutters" style="padding: 2rem 0">
    <div col>
        <div class="card" style="min-width: 64rem;">
            <div class="card-body">
                <h3 class="card-title">Nouvelle sortie !</h3>
                {% form_theme sortieForm 'bootstrap_4_horizontal_layout.html.twig' %}
                {{ form_start (sortieForm) }}
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.date_debut) }}
                {{ form_row(sortieForm.date_cloture, {
                    attr: {
                        min: "now"|date("Y-m-d")
                    }}) }}
                {{ form_row(sortieForm.nb_inscription_max) }}
                {{ form_row(sortieForm.duree) }}
                {{ form_row(sortieForm.description_info) }}
                {{ form_row(sortieForm.noCampus) }}
                {{ form_row(sortieForm.noVille) }}
                {{ form_row(sortieForm.noLieu) }}
                <a href="#">
                    <div id="myBtn">Nouveau lieu</div>
                </a>
                {{ form_row(sortieForm.noEtat) }}
                {{ form_row(sortieForm.url_photo) }}

                {{ form_widget(sortieForm) }}


                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <button class="btn btn-primary" type="submit" type="submit">Confirmer</button>
                        <input type="button" class="btn btn-secondary" value="Retour" onclick="history.back()">
                    </div>

                </div>

                {{ form_end (sortieForm) }}


                <!-- The Modal -->
                <div id="myModal" class="modal" {% if modalOnOff == true %}style="display: block;"{% endif %}>

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div col-3>
                            <h1>Nouveau Lieu</h1>

                            {% form_theme lieuForm 'bootstrap_4_horizontal_layout.html.twig' %}
                            {{ form_start (lieuForm) }}

                            {{ form_widget(lieuForm) }}

                            <button class="btn btn-lg" type="submit" style="background-color: #e74c3c; color: #FFFFFF"
                                    type="submit">Ajouter le lieu
                            </button>

                            {{ form_end (lieuForm) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endblock %}

        {% block javascripts %}
            <script>
                // Get the modal
                var modal = document.getElementById("myModal");

                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
        {% endblock %}
