{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block main %}
    <script>
        const COORD_LIST = {{ coords|raw }};
        const USER_ID = {{ app.user.id }};
        const ROOL_URL = "{{ url('app_login') }}";
    </script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="{{ asset('js/index.js') }}"></script>

    <div style="padding: 1rem">
        <div class="row no-gutters">
            <div class="col">
                <span class="badge badge-pill badge-dark">Date du jour : {{ "now"|date("d/m/Y") }}</span>
                <span class="badge badge-pill badge-dark">Participant : {{ app.user.username }}</span>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label> Entre :</label><input class="form-control" type="date" value="" id="dateDebut">
                    </div>
                    <div class="col">
                        <label>Et : </label><input class="form-control" type="date" value="" id="dateCloture">
                    </div>
                </div>
            </div>
            <div class="ml-3 col" id="filtres_centre">
                <input type="checkbox" id="sortiesOrganizeByMe"> Mes sorties <br>
                <input type="checkbox" id="sortiesISub"> Sorties auxquelles je suis inscrit/e <br>
                <input type="checkbox" id="sortiesDontSub"> Sorties auxquelles je ne suis pas inscrit/e <br>
                <input type="checkbox" id="sortiesPassed"> Sorties passées <br>
                {% if is_granted('ROLE_ADMIN') %}
                    <input type="checkbox" id="sortiesArchived"> Sorties archivées <br>
                {% endif %}
            </div>
            <div class="col-2 offset-md-4">
                <div class="row no-gutters">
                    <div class="col-md-auto">
                        <button class="btn btn-primary" id="btnRecherche" style="min-width: 8rem"><i class="fas fa-search"></i> Recherche</button>
                    </div>
                    <div class="ml-2 col-md-auto">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseMap" role="button" style="min-width: 6rem">
                            <i class="fas fa-map-marked-alt"></i> Carte
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- CARTE -->
        <div class="collapse mb-4" id="collapseMap">
            <div class="card card-body">
                <div id="map" style="height: 700px;"></div>
            </div>
        </div>

        <!-- TABLEAU -->
        <div>
            <table id="table" class="table table-bordered table-striped table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th data-name ="Nom" data-sizeSelect="80">Nom</th>
                    <th data-name ="Date" data-sizeSelect="80">Date sortie</th>
                    <th data-name ="Clôture" data-sizeSelect="80">Clôture</th>
                    <th data-name ="Inscrits/Places" data-sizeSelect="80">Inscrits/Places</th>
                    <th data-name ="Etat" data-sizeSelect="80">Etat</th>
                    <th data-name ="Site" data-sizeSelect="80">Site</th>
                    <th data-name ="Organisateur" data-sizeSelect="120">Organisateur</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for s in sortie %}

                <tr>
                    <td>{{s.nomSortie}}</td>
                    <td>{{s.date_debut|date('d/m/Y')}}</td>
                    <td>{{s.date_cloture|date('d/m/Y')}}</td>
                    <td>{% if s.Inscrit is null %} 0
                        {% elseif s.Inscrit is not null %}{{ s.Inscrit}} {% endif %} / {{ s.nbinscriptionsnmax }}</td>
                    <td>{{ s.libelle }}</td>
                    <td>{{ s.nom_campus}}</td> 
                    <td>{{ s.prenom}}</td>
                    <td>{{s.description_info}}</td> 
                    <td style="font-size:13px">
                    {# SORTIES OUVERTES #}
                        {% if s.libelle == "Ouverte" and s.Inscrit != s.nbinscriptionsnmax and s.isInscrit > 0 and s.prenom != app.user.prenom %}  - <a href="#" onclick="desistement({{ s.no_sortie }})">Se désister</a> - <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                        {% if s.libelle == "Ouverte" and s.Inscrit != s.nbinscriptionsnmax and s.isInscrit == 0 and s.prenom != app.user.prenom %} <a href="#" onclick="inscription({{ s.no_sortie }})">S'inscrire</a> - <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                        {% if s.libelle == "Ouverte" and s.Inscrit != s.nbinscriptionsnmax and s.isInscrit == 0 and s.prenom == app.user.prenom %} <a href="#" onclick="inscription({{ s.no_sortie }})">S'inscrire</a> - <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a> - <a href="#" onclick="annuler({{ s.no_sortie }})">Annuler</a> - <a href="{{ path("modif_sortie", {"id" : s.no_sortie} ) }}">Modifier</a>{% endif %}
                        {% if s.libelle == "Ouverte" and s.Inscrit != s.nbinscriptionsnmax and s.isInscrit > 0 and s.prenom == app.user.prenom %} <a href="#" onclick="desistement({{ s.no_sortie }})">Se désister</a> - <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a> - <a href="#" onclick="annuler({{ s.no_sortie }})">Annuler</a> - <a href="{{ path("modif_sortie", {"id" : s.no_sortie} ) }}">Modifier</a>{% endif %}

                    {# SORTIES ACTIVE EN COURS #}
                        {% if s.libelle == "Activé en cours" %}  <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                       {# ANNULEE #}
                        {% if s.libelle == "Annulée" %}  <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                       {# CLOTUREE #}
                        {% if s.libelle == "Clôturée" %}  <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                        {# CREE #}
                        {% if s.libelle == "Créée" and s.prenom != app.user.prenom %}<a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                        {% if s.libelle == "Créée" and s.prenom == app.user.prenom %}<a href="#" onclick="annuler({{ s.no_sortie }})">Annuler</a> - <a href="{{ path("modif_sortie", {"id" : s.no_sortie} ) }}">Modifier</a> - <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                        

                        {# PASSEE #}
                         {% if s.libelle == "Passée" %}  <a href="{{ path("afficherSortie", {"id" : s.no_sortie} ) }}" )">Afficher</a>{% endif %}
                           </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="row justify-content-md-center no-gutters">
                <div class="col-md-auto">
                    <form class="mt-3" method="get" action="{{ path('ajout-sortie') }}" style="margin-bottom: 1rem">
                        <button type="submit" class="btn btn-primary ">Créer une sortie</button>
                    </form>
                </div>

            </div>

{% endblock %}

