{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block main %}

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card" style="width: 36rem;">
                <div class="card-body">
                    <h2 class="card-title">Modifier une sortie</h2>
                    <div class="form-group">
                        {{ form_start(sortieModifForm, {'attr': {'novalidate': 'novalidate'}} ) }}
                        {{ form_errors(sortieModifForm,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.nom,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.dateDebut,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.dateCloture,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.nbInscriptionMax,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.duree,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.descriptionInfo,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_label(sortieModifForm.noCampus, 'Ville organisatrice : ',{ 'attr' : { 'class': 'form-control'}}) }}
                        <input id="villeOrga" class="form-control" type="text "
                               value="{{ sortieModifForm.vars.value.noCampus.nomCampus }}" readonly="true">
                        {{ form_label(sortieModifForm.noVille) }}
                        {{ form_widget(sortieModifForm.noVille,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_label(sortieModifForm.noLieu) }}
                        {{ form_widget(sortieModifForm.noLieu, { 'attr' : { 'style':'display:none'} }) }}
                        <select id="lieuSelect" class="form-control" required>

                        </select>
                        {{ form_row(sortieModifForm.rue,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.codePostal,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.latitude,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_row(sortieModifForm.longitude,{ 'attr' : { 'class': 'form-control'}}) }}
                        {{ form_widget(sortieModifForm.noCampus, { 'attr' : { 'style':'display:none'} }) }}
                        {{ form_widget(sortieModifForm.organisateur, { 'attr' : { 'style':'display:none'} }) }}
                        {{ form_widget(sortieModifForm.noEtat, { 'attr' : { 'style':'display:none'} }) }}
                        <div class="mt-3 row justify-content-md-center">
                            <div class="col-md-auto">
                                <button id="enregistrer" name="enregistrer" class="btn btn-primary" type="submit">
                                    Enregistrer
                                </button>
                                <button id="publier" name="publier" class="btn btn-primary" type="submit">Publier la
                                    sortie
                                </button>
                                <button onclick="history.back()" class="btn btn-danger" type="button">Annuler</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(sortieModifForm) }}
                </div>
            </div>
        </div>
    </div>


    <script>

        //Récupération des inputs
        var lieu = $("#sorties_modif_lieuxNoLieu");
        var lieuSelect = $("#lieuSelect");
        var ville = $("#sorties_modif_villesNoVille");
        var villeSortie = $("#villeSortie");
        var rue = $('#sorties_modif_rue');
        var cp = $('#sorties_modif_CP');
        var latitude = $('#sorties_modif_latitude');
        var longitude = $('#sorties_modif_longitude');
        var user = {{ app.user.id }}

            //Initialisation à l'ouverture
            $(document).ready(function () {
                $('#sorties_organisateur option[value="' + user + '"]').attr('selected', true);
                sortieVille(function (output) {
                    $('#sorties_modif_villesNoVille option[value="' + output + '"]').attr('selected', true);
                    selectVille();
                    //selectLieu();
                    //$('#lieuSelect option[value="'+lieu.val()+'"]').attr('selected',true);
                    //$('select[name=type-de-bien] option[value="appartement"]').prop('selected', true);
                });


                // $("#sorties_modif_lieuxNoLieu").val(2);            //$('#sorties_modif_lieuxNoLieu option[value="'+lieuSelected+'"]').attr('selected',true);
                //$('#sorties_modif_lieuxNoLieu option[value="3"]').attr('selected',true);


            });

        //Sélection d'une ville
        ville.change(function () {
            console.log("select ville test");
            selectVille();
        });
        //Sélection d'un lieu
        lieuSelect.change(function () {
            selectLieu();
        });

        $('#sorties').submit(function (event) {
            event.preventDefault();

            //validate fields
            var fail = false;
            var fail_log = '';
            var name;
            $('#sorties').find('select, textarea, input').each(function () {
                if (!$(this).prop('required')) {

                } else {
                    if (!$(this).val()) {
                        fail = true;
                        name = $(this).attr('name');
                        fail_log += name + " is required \n";
                    }

                }
            });

            //submit if fail never got set to true
            if (!fail) {
                //process form here.
            } else {
                alert(fail_log);
            }

        });
        $("#enregistrer").click((function () {
            $('#sorties_etatsNoEtat option[value="1"]').attr('selected', true);
        }));

        $("#publier").click((function () {
            $('#sorties_etatsNoEtat option[value="2"]').attr('selected', true);
        }))

        function selectVille() {
            if (ville.val() !== "Veuillez sélectionner une ville") {
                lieuSelect.empty();
                rue.val("");
                cp.val("");
                latitude.val("");
                longitude.val("");
            } else {
                cp.val("");
                return;
            }
            $.ajax({
                url: '/ajouterSortie/' + $("#sorties_modif_villesNoVille").val(),
                type: 'GET',
                data: {
                    fonction: 'getLieux',
                    params: {param1: $("#sorties_modif_villesNoVille").val()},
                },
                success: function (data) {
                    lieuSelect.append(new Option("Veuillez sélectionner un lieu", "", true, true))
                    $.each(data, function (key, value) {
                        cp.val(data[key]['codePostal']);
                        lieuSelect.append(new Option(data[key][0][1], data[key][0][0], true, false));
                    });
                    var lieu = $("#sorties_modif_lieuxNoLieu");
                    $('#lieuSelect').val(lieu.val());
                    selectLieu();
                }
            });
        }

        function selectLieu() {
            lieu.val(lieuSelect.val())
            if (lieuSelect.val() === "Veuillez sélectionner un lieu") {
                return;
            }
            $.ajax({
                url: '/ajouterSortieLieu/' + lieuSelect.val(),
                type: 'GET',
                data: {
                    fonction: 'getInfoLieu',
                    params: {param1: lieuSelect.val()},
                },
                success: function (data) {
                    rue.val(data[2]);
                    latitude.val(data[3]);
                    longitude.val(data[4]);
                }
            })
        }

        function sortieVille(output) {
            $.ajax({
                url: '/getSortieVille/' + lieu.val(),
                type: 'GET',
                data: {
                    fonction: 'getSortieVille',
                    params: {param1: lieu.val()},
                },
                success: function (data) {
                    output(data[1]);
                }
            })
        }
    </script>

{% endblock %}
