{% extends 'base.html.twig' %}
{% block title %}Importer des utilisateur {{ parent() }}{% endblock %}
{% block main %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row justify-content-md-center no-gutters">
        <div class="col-md-auto">
            <div class="card cardContainer" style="width: 34rem">
                <div class="card-body">
                    <h3 class="card-title">Importer un fichier CSV</h3>
                        {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
