<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} | Sortir.com{% endblock %}</title>
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Long+Cang|Montserrat:300,400,700&amp;display=swap"
          rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('img/assetsSite/logo-sortir.png') }}"/>
    <script src="https://kit.fontawesome.com/26ecc8a2f6.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/upload.js') }}"></script>
</head>
<body>
<!-- OLD HEADER USELESS
<header>
    <a href="">
        <div id="logo-header">
            <img  src="{{ asset('img/assetsSite/logo-sortir3.png') }}" alt="logo sortir.com">
            <h1>Sortir.com</h1>
        </div>
    </a>
    <nav id="menu-header">
        <a href="#">Accueil</a>
        {% if app.user %}
            <a href="{{ path('ajout-sortie') }}">Organiser une sortie</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_register') }}">Créer un utilisateur</a>
        {% endif %}
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
            <a href="{{ path('app_profil') }}"><i class="fas fa-user-circle user-icon"></i>{{ app.user.username }}</a>
        {% else %}
            <a href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}

    </nav>
</header>
-->
<header>
    <nav class="navbar navbar-expand-lg row justify-content-between"
         style="margin-left: 0px; margin-right: 0px; background-color: #e74c3c; color: #FFFFFF">
        <div class="col-auto mr-auto">
            <div class="row align-items-center">
                <div class="col">
                    <img src="{{ asset('img/assetsSite/logo-sortir3.png') }}" alt="logo sortir.com" height="100rem">
                </div>
                <div class="col">
                    <h3 style="color: #FFFFFF">Sortir.com</h3>
                </div>
            </div>
        </div>
        <div class="col-auto mr-5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        {% if app.user %}
                            <a class="nav-link" href="{{ path('sortie') }}">Accueil<span
                                        class="sr-only">(current)</span></a>
                        {% else %}
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion<span
                                        class="sr-only">(current)</span></a>
                        {% endif %}
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ajout-sortie') }}">Organiser une sortie</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gestion d'utilisateurs
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_register') }}">Créer un utilisateur</a>
                                    <a class="dropdown-item" href="{{ path('upload') }}"><i class="fas fa-file-excel export-icon"></i> Importer des utilisateurs</a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle user-icon"></i> {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_profil') }}">Mon profil</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block main %}

    {% endblock %}
</main>
<footer>
    <p>&copy; La bande organisée • {{ "now"|date("Y") }} <br>
        Logo by <strong><a href="https://designmarketingmoney.club/50-juice-logo-ideas-for-juice-bars-and-cafes"
                           target="_blank">DesignMarketingMoney</a></strong></>
</footer>
{% block javascripts %}
{% endblock %}
</body>
</html>