{% extends 'base.html.twig' %}

{% block title %}Accès refusé {{ parent() }}
{% endblock %}

{% block main %}
<section id="ban-home">
    <div id="ban-content">
        <h1 class="h3 mb-3 font-weight-normal">Accès refusé</h1>
        <a href="{{ path('app_login') }}">Vers page de connexion</a>
    </div>
</section>
{% endblock %}
